opencv-python==4.5.5.62
tqdm~=4.64.1
numpy==1.23.4
pydantic==1.10.2
scikit-image==0.19.3
uib-vfeatures==0.7
torch==1.13.1
torchvision==0.14.1
pillow==9.3.0
matplotlib==3.6.2
captum==0.6.0
mmn_xai==0.9